body {
	font-family: arial black;
	font-size: 24px;
}

a {
	color:red;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.left {
	color: red;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
}

.left-content {
	padding: 10px;
}

.right {
	color: blue;
	background-color: red;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
	font-size: 120px;	
	text-align: center;
}

.right-text {
	font-size: 24px;
	padding: 10px;
	color: white;
}

.right-content {
	padding: 10px;
}

.right img {
	width: 100%;
}
