body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

.text p {
	text-align: justify;
	font-size: 34px;
}

.nav {
width:100%;
padding: 10px;
position: fixed;
top:0px;
left:0px;
}

.nav-item {
background-color:white;
display: inline-block;
padding: 5px;
border-radius: 5px;
color: #000;
text-decoration: none;
}

.title {
	font-size: 5vw;
	font-family: ANDALE MONO;
	color: white;
	margin-top: 65px;

}


body {
	background-color:black; 
	text-align: center;
	font-size: 30px;
	font-family: ANDALE MONO;
	color: white;
}

.text h1 {
font-size: 60px;




